<!-- views/partials/navbar.ejs  -->

<ul class="navBar">
    <% for(var i=0; i < activeField.length; i++) { %>
    <% if(i >= numberOfRight) { %>
    <li style="float:right"> <a class= <%= activeField[ i] %> href = <%= links[ i ]%> > <%= labels[ i ] %> </a></li>
    <% } else {%>
    <li><a class= <%= activeField[i] %> href= <%= links[i]%> > <%= labels[i] %> </a></li>
    <% } } %>
</ul> 