
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">


    <head>
        <meta charset="UTF-8"/>
        <title>Homiezz</title>
        <link href= "basicLayout.css" rel="stylesheet" type="text/css"/>
        
        <% for(var i=0; i < cssFiles.length; i++) { %>
        <link href= <%- cssFiles[i] %> rel="stylesheet" type="text/css"/>
        
        <% } %> 

        <% for(var i=0; i < javaScriptFiles.length; i++) { %>
        <script type="text/javascript" src= <%- javaScriptFiles[i] %> ></script>
        <% } %> 
        

    </head>
    <body>
        <%- include('partials/navbar.ejs') %>
        <% for(var i=0; i < dashView.length; i++) { %>
            <%- include(dashView[i]) %>
        <% } %>
    </body>

    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>
</html>